<ngb-tabset justify="true">
	<ngb-tab title="Project and Code">
		<ng-template ngbTabContent>

			<div class="card-body">

				<p class="card-text">
          Research projects and associated software/code.
				</p>
			</div>


      <div class="card-body">
				<h3 class="card-title"> RENN </h3>
				<p class="card-text">
          An inference neural network. To be released soon.
        </p>
			</div>


      <div class="card-body">
				<h3 class="card-title"> <a style="padding-right: 1px;" href="https://github.com/FirstHandScientist/genhmm">GenHMM</a> </h3>
				<p class="card-text">
          A neural network based hidden Markov model.
          <img border="0" src="images/genhmm/figure-1.png" alt="name" height="256"/>
          <!-- <img border="0" src="images/genhmm/figure-1.png" alt="name" width="304" height="228" /> -->
        </p>
			</div>

      <div class="card-body">
				<h3 class="card-title"> GenMM </h3>
				<p class="card-text">
          <a style="padding-right: 1px;" href="https://github.com/FirstHandScientist/EM-GM">GenMM</a>: a mixture of normalizing flow models within expectation maximization.
        </p>
			</div>


      <div class="card-body">
				<h3 class="card-title"> AlphaBP </h3>
				<p class="card-text">
          <a style="padding-right: 1px;" href="https://github.com/FirstHandScientist/amp">AlphaBP</a>: a message passing algorithm.
        </p>
			</div>
      <div class="card-body">
				<h3 class="card-title"> EOTGM </h3>
				<p class="card-text">
          <a style="padding-right: 1px;" href="https://github.com/FirstHandScientist/eotgms">EOTGM/EOTGAN</a>: A generative model trained with optimal transport.
        </p>
			</div>


		</ng-template>
	</ngb-tab>


	<ngb-tab title="Related Open-Source Tools">
		<ng-template ngbTabContent>
			<div class="card-body">
				<h3 class="card-title"> <a href="http://edwardlib.org/">Pyro</a></h3>
				<p class="card-text">
        A Python library for probabilistic modeling, inference, and criticism.
        </p>
			</div>


			<div class="card-body">
				<h3 class="card-title"> <a href="https://pyro.ai/">Edward</a></h3>
				<p class="card-text">
          A universal probabilistic programming language (PPL) written in Python and supported by PyTorch on the backend.
        </p>
			</div>


      <div class="card-body">
				<h3 class="card-title"> <a href="https://github.com/pgmpy/pgmpy">pgmpy</a></h3>
				<p class="card-text">
          A python library for working with Probabilistic Graphical Models.
        </p>
			</div>

      <div class="card-body">
				<h3 class="card-title"> <a href="https://probprog.github.io/anglican/">Anglican</a></h3>
        <p class="card-text">
          A probabilistic programming language integrated with Clojure and ClojureScript.
				</p>
			</div>



		</ng-template>
	</ngb-tab>


</ngb-tabset>
