<div class="row">
  <div class="col-sm-8 col-12 order-last order-sm-first">
    <p>
      I am a Ph.D. candidate in the division of Information Science of Engineering at KTH Royal Institute of Technology. <br>
      My research interests include probabilistic graphical models, Bayesian inference, machine learning, optimization. I also worked with stochastic models and complex networks. The algorithms/models of my research work are applicable to a wide variety of problems, and demonstrated cases include data representation, image processing, speech recognition, communication networks, social networks. My recent work is mainly on the practical inference & learning algorithm/model development within probabilistic graphical models.
      <br>

    </p>


    <h4> Software/Codes </h4>
    <p> Software associated with a paper can be found on its corresponding page </p>
    <ul>
      <li>
        <a style="padding-right: 1px;" href="">RENN</a>: a inference neural network. To be released soon.
      </li>
      <li>
        <a style="padding-right: 1px;" href="https://github.com/FirstHandScientist/genhmm">GenHMM</a>: a neural network based hidden Markov model.
      </li>
      <li>
        <a style="padding-right: 1px;" href="https://github.com/FirstHandScientist/EM-GM">GenMM</a>: a mixture of normalizing flow models within expectation maximization.
      </li>
      <li>
        <a style="padding-right: 1px;" href="https://github.com/FirstHandScientist/amp">AlphaBP</a>: a message passing algorithm.
      </li>
      <li>
        <a style="padding-right: 1px;" href="https://github.com/FirstHandScientist/eotgms">EOTGM/EOTGAN</a>: A generative model trained with optimal transport.
      </li>
    </ul>


    <h4> Research Literature Collection </h4>
    A collection of literature that I find delightful to read, please check this <a style="padding-right: 1px;" href="https://github.com/FirstHandScientist/mind_map"> repos </a> out.
    <h4> Teaching </h4>
    <p> I am the teaching assistant for the graduate course
      <a href="https://www.kth.se/student/kurser/kurs/EQ2341?l=en"> Pattern Recognition and Machine Learning, EECS, KTH, in 2017-2020 </a>. The graduated course considers fundamental and advanced Bayesian methods for classification tasks in pattern recognition </p>

   <!-- <h3 class="mt-2">Recent News</h3> -->
    <!-- <ul class="list-group"> -->
    <!--   <li class="list-group-item p-2" *ngFor="let item of news_items.slice(0, news_number)" [innerHTML]=item></li> -->
    <!--   <li class="list-group-item p-2 btn btn-sm text-left mt-1 color-theme" *ngIf="news_number < news_items.length" (click)="news_number = news_number+5">More</li> -->
    <!-- </ul> -->

  </div>

  <div class="col-sm-4 col-12 order-first order-sm-last">
    <!-- profile image here -->
    <!-- <img id="portrait" class="img-fluid rounded" src="https://via.placeholder.com/200"> -->
    <h3>Dong Liu <br>
      <small><em> Ph.D. Canditate <br>
          KTH Royal Institute of Technology, Stockholm, Sweden.</em></small></h3>

    <h5>
      <a href="assets/cv/cv_Dong.pdf">My Curriculum Vitae</a>
    </h5>
    <br>
    <a style="padding-right: 1px;" ngbPopover="Malvinas Väg 10, Stockholm" placement="bottom"> <fa-icon [icon]="faUniversity" size="2x"></fa-icon>Office Address</a>
    <br>
    <a style="padding-right: 1px;" ngbPopover="doli@kth.se" placement="bottom"><fa-icon [icon]="faEnvelopeSquare" size="2x"></fa-icon>Email</a>
    <br>
    <!-- <a style="padding-right: 1px;" ngbPopover="phone" placement="bottom"><fa-icon [icon]="faPhoneSquare" size="2x"></fa-icon></a> -->
    <a style="padding-right: 1px;" href="https://github.com/FirstHandScientist"><fa-icon [icon]="faGithubSquare" size="2x"></fa-icon>Github</a>
    <br>
    <a style="padding-right: 1px;" href="https://www.linkedin.com/in/dong-liu-59ab12a1/"><fa-icon [icon]="faLinkedin" size="2x"></fa-icon>LinkedIn</a>
    <!-- <a style="padding-right: 1px;" href="https://orcid.org/"><i class="ai ai-orcid-square ai-2x"></i></a>&ensp; -->
    <br>
    <a style="padding-right: 1px;" href="https://scholar.google.com/citations?user=eK9LoQMAAAAJ&hl=en"><i class="ai ai-google-scholar-square ai-2x"></i>Google Scholar</a>

  </div>

</div>

<br />
