<div class="row">
  <div class="col-sm-8 col-12 order-last order-sm-first">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>    

    <h3 class="mt-2">Recent News</h3>
    <ul class="list-group">
      <li class="list-group-item p-2" *ngFor="let item of news_items.slice(0, news_number)" [innerHTML]=item></li>
      <li class="list-group-item p-2 btn btn-sm text-left mt-1 color-theme" *ngIf="news_number < news_items.length" (click)="news_number = news_number+5">More</li>
    </ul>

  </div>

  <div class="col-sm-4 col-12 order-first order-sm-last">
    <img id="portrait" class="img-fluid rounded" src="https://via.placeholder.com/200">
    <h3>Name Namesson <small><em>title</em></small></h3>
    <a style="padding-right: 1px;" ngbPopover="Address" placement="bottom"> <fa-icon [icon]="faUniversity" size="2x"></fa-icon></a>
    <a style="padding-right: 1px;" ngbPopover="email" placement="bottom"><fa-icon [icon]="faEnvelopeSquare" size="2x"></fa-icon></a>
    <a style="padding-right: 1px;" ngbPopover="phone" placement="bottom"><fa-icon [icon]="faPhoneSquare" size="2x"></fa-icon></a>
    <a style="padding-right: 1px;" href="https://github.com"><fa-icon [icon]="faGithubSquare" size="2x"></fa-icon></a>
    <a style="padding-right: 1px;" href="https://www.linkedin.com/"><fa-icon [icon]="faLinkedin" size="2x"></fa-icon></a>
    <a style="padding-right: 1px;" href="https://orcid.org/"><i class="ai ai-orcid-square ai-2x"></i></a>&ensp;
    <a style="padding-right: 1px;" href="https://scholar.google.com/"><i class="ai ai-google-scholar-square ai-2x"></i></a>

  </div>

</div>

<br />
